<main class="global-wrapper">
  <section class="global-filter">
    <list-filter
      [page-title]="'Roles'"
      [search-placeholder]="'Search'"
      [primary-add-button]="{
        label: 'Add Role',
        icon: 'icon-add-plus-filter'
      }"
      (open-sidebar)="onAddEditSidebarOpen($event, 'add', null)"
    />
  </section>
  <div class="custom-page-wrapper">
    <div class="role-list-table">
      <table class="mat-table" mat-table [dataSource]="dataList">
        <ng-container matColumnDef="role_name">
          <th mat-header-cell *matHeaderCellDef>
            <div class="custom-datatable-header">
              <p>Role Name</p>
              <div class="sortable-header-right">
                <a
                  class="icon-list-filter"
                  [matMenuTriggerFor]="filterDropdown"
                >
                  <svg>
                    <use xlink:href="./assets/scss/icons.svg#icon-filter"></use>
                  </svg>
                </a>
                @if(nameNoFilter){
                <a
                  class="icon-list-filter-clear"
                  (click)="onClearFilter('name')"
                >
                  <svg>
                    <use
                      xlink:href="./assets/scss/icons.svg#icon-filter-clear"
                    ></use>
                  </svg> </a
                >}
              </div>
              <mat-menu #filterDropdown class="filter-inner-block">
                <div
                  class="global-filter-area"
                  (click)="$event.stopPropagation()"
                >
                  <div class="filter-box-calendar">
                    <input
                      matInput
                      ngModelDebounce
                      class="formcontrol"
                      [placeholder]="'Enter role name'"
                      [(ngModel)]="nameNoFilter"
                      autocompleteOff="'off'"
                      (ngModelDebounceChange)="nameFilter($event)"
                    />
                  </div>
                  <div class="filter-box-dropdown">
                    <mat-form-field
                      appearance="outline"
                      class="custom-select-filter"
                    >
                      <mat-select
                        placeholder="Select Filter"
                        panelClass="custom-select-panel-filter"
                        [(ngModel)]="nameNoFilter"
                        (ngModelChange)="nameMatchModeChange()"
                      >
                        @for(item of filterDropDown; track $index){
                        <mat-option [value]="item.value">{{
                          item.label
                        }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <button type="button" class="btn btn-primary">Apply</button>
                </div>
              </mat-menu>
            </div>
          </th>
          <td mat-cell *matCellDef="let data">
            <div class="custom-datatable-cont">
              <p>
                <strong>{{ data.name }}</strong>
              </p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="number_of_employee">
          <th mat-header-cell *matHeaderCellDef>
            <div class="custom-datatable-header">
              <p>No. of Employee</p>
              <div class="sortable-header-right">
                <a
                  class="icon-list-filter"
                  [matMenuTriggerFor]="filterDropdown"
                >
                  <svg>
                    <use xlink:href="./assets/scss/icons.svg#icon-filter"></use>
                  </svg>
                </a>
                @if (true) {
                <a class="icon-list-filter-clear">
                  <svg>
                    <use
                      xlink:href="./assets/scss/icons.svg#icon-filter-clear"
                    ></use>
                  </svg>
                </a>
                }
              </div>
              <mat-menu #filterDropdown class="filter-inner-block">
                <div
                  class="global-filter-area"
                  (click)="$event.stopPropagation()"
                >
                  <div class="filter-box-calendar">
                    <input
                      matInput
                      [placeholder]="'Enter No of Employee'"
                      [(ngModel)]="noOfEmpFilterValue"
                    />
                  </div>
                  <div class="filter-box-dropdown">
                    <mat-form-field
                      appearance="outline"
                      class="custom-select-filter"
                    >
                      <mat-select
                        placeholder="Select Filter"
                        panelClass="custom-select-panel-filter"
                        [(ngModel)]="noOfEmpFilterMethod"
                      >
                        @for(empFilter of noOfEmpFilterDropDown; track $index){
                        <mat-option [value]="empFilter.value">{{
                          empFilter.label
                        }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <button type="button" class="btn btn-primary">Apply</button>
                </div>
              </mat-menu>
            </div>
          </th>
          <td mat-cell *matCellDef="let data">
            <div class="custom-datatable-cont">
              <p>
                <strong>{{ data.numberOfEmployees }}</strong>
              </p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            <div class="custom-datatable-header">
              <p>Status</p>
              <div class="sortable-header-right">
                <a
                  class="icon-list-filter"
                  [matMenuTriggerFor]="filterDropdown"
                >
                  <svg>
                    <use xlink:href="./assets/scss/icons.svg#icon-filter"></use>
                  </svg>
                </a>
                @if(true!==null){
                <a class="icon-list-filter-clear">
                  <svg>
                    <use
                      xlink:href="./assets/scss/icons.svg#icon-filter-clear"
                    ></use>
                  </svg>
                </a>
                }
              </div>
              <mat-menu #filterDropdown class="filter-inner-block">
                <div class="global-filter-area">
                  <div class="filter-box-status">
                    <ul>
                      @for(item of statusFilterArr; track item;let i = $index){
                      <li>
                        <a
                          class="status-badge"
                          [ngClass]="{
                            'status-badge-red': item.value === 0,
                            'status-badge-green': item.value === 1,
                          }"
                          >{{ item.label }}</a
                        >
                      </li>
                      }
                    </ul>
                  </div>
                </div>
              </mat-menu>
            </div>
          </th>
          <td mat-cell *matCellDef="let data">
            <div class="custom-datatable-cont">
              <div
                class="status-box-small"
                [ngClass]="{
                  'status-red': data.status === 0,
                  'status-green': data.status === 1
                }"
              ></div>
              <p>{{ data.status === 1 ? "Active" : "Inactive" }}</p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <div class="custom-datatable-header">
              <p>&nbsp;</p>
            </div>
          </th>
          <td mat-cell *matCellDef="let data">
            <div class="custom-datatable-cont">
              <div class="action-block">
                <a
                  class="edit"
                  matTooltip="Edit"
                  matTooltipClass="custom-list-tooltip"
                  (click)="onAddEditSidebarOpen($event, 'edit', data)"
                >
                  <svg>
                    <use xlink:href="./assets/scss/icons.svg#icon-edit"></use>
                  </svg>
                </a>
                <a
                  class="delete"
                  matTooltip="Delete"
                  matTooltipClass="custom-list-tooltip"
                  (click)="onDeleteRoleDialog($event, data.id, data)"
                >
                  <svg>
                    <use xlink:href="./assets/scss/icons.svg#icon-delete"></use>
                  </svg>
                </a>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="noRecords">
          <mat-footer-cell
            *matFooterCellDef
            [attr.colspan]="displayedColumns.length"
          >
            <div class="no-records-table">
              <div class="no-records-block">
                <div class="icon-block">
                  <img
                    src="assets/images/icon-norecords.svg"
                    width="64"
                    height="66"
                    alt=""
                    loading="lazy"
                    decoding="async"
                  />
                </div>
                <p>No Record Found</p>
              </div>
            </div>
          </mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-footer-row
          *matFooterRowDef="['noRecords']"
          [hidden]="
            dataList &&
            dataList.data.length > 0 &&
            dataList.filteredData.length > 0
          "
        ></mat-footer-row>
      </table>
      <div class="paginator-block">
        <!-- @if((roleList.length || 0) > pageSize){
        <mat-paginator
          appPagination
          showFirstLastButtons
          [length]="roleList.length || 0"
          [pageSize]="pageSize"
          [hidePageSize]="true"
          [pageIndex]="+pageNumber - 1"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
        } -->
      </div>
    </div>
  </div>
</main>

<!-- Add Role Sidebar -->
<mat-sidenav-container [hasBackdrop]="true" fullscreen>
  <mat-sidenav
    position="end"
    [disableClose]="true"
    class="custom-sidebar custom-sidebar-small"
    [(opened)]="isAddEditRoleSidebarOpen"
  >
    @if (isAddEditRoleSidebarOpen()) {
    <section class="sidebar-content-wrapper">
      <roles-sidebar-wrapper
        [pageType]="pageType()"
        [selectedRole]="selectedRole()"
        (closeSidebar)="onAddEditSidebarClose($event)"
      />
    </section>
    }
  </mat-sidenav>
</mat-sidenav-container>
