<div class="auth-outer">
  <div class="auth-inner">
    <div class="auth-form">
      <div class="auth-form-content">
        <div class="auth-logobox">
          <h1>State <span>Project</span></h1>
          <div class="auth-content">
            <h4>Tracking Projects <span>simplified</span></h4>
            <p>
              Trusted by thousands, state client collaboration project tool and
              Hub.
            </p>
          </div>
        </div>
        <div class="auth-formbox-wrapper">
          <router-outlet></router-outlet>
          <footer>
            <p>© {{ cuttentYear() }} State Project. All Rights Reserved.</p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
