<main class="global-wrapper">
  <section class="global-filter">
    <list-filter [page-title]="'Change Password'" />
  </section>
  <section class="content-container">
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="changePasswordFormSubmit()"
    >
      <div class="form-group">
        <label>Old Password<sup>*</sup></label>
        <div
          class="formcontrol-wrapper"
          [ngClass]="{
            'invalid-control': hasFormControlError('oldPassword')
          }"
        >
          <input
            [type]="showTypeOld() ? 'text' : 'password'"
            autocomplete="off"
            class="formcontrol"
            placeholder="Enter Old Password"
            formControlName="oldPassword"
          />
          <a class="icon-block" (click)="showIconType('old')">
            @if(showTypeOld()) {
            <svg class="icon-open">
              <use xlink:href="./assets/scss/icons.svg#icon-eye-open"></use>
            </svg>
            } @else {
            <svg class="icon-close">
              <use xlink:href="./assets/scss/icons.svg#icon-eye-close"></use>
            </svg>
            }
          </a>
        </div>
        @if(hasFormControlError('oldPassword')){
        @if(formControl['oldPassword'].hasError('required')) {
        <div [@fadeAnimation] class="error-message">
          <p>Please enter old password</p>
        </div>
        }}
      </div>
      <div class="form-group">
        <label>New Password<sup>*</sup></label>
        <div
          class="formcontrol-wrapper"
          [ngClass]="{
            'invalid-control': hasFormControlError('newPassword')
          }"
        >
          <input
            [type]="showTypeNew() ? 'text' : 'password'"
            (focus)="OnClickNewPassword()"
            autocomplete="off"
            class="formcontrol"
            placeholder="Enter New Password"
            formControlName="newPassword"
          />
          <a class="icon-block" (click)="showIconType('new')">
            @if(showTypeNew()) {
            <svg class="icon-open">
              <use xlink:href="./assets/scss/icons.svg#icon-eye-open"></use>
            </svg>
            } @else {
            <svg class="icon-close">
              <use xlink:href="./assets/scss/icons.svg#icon-eye-close"></use>
            </svg>
            }
          </a>
        </div>
        @if(hasFormControlError('newPassword')){
        @if(formControl['newPassword'].hasError('required')) {
        <div [@fadeAnimation] class="error-message">
          <p>Please enter new password</p>
        </div>
        }} @if(newPasswordContainErrors() && newPasswordValidationCheck){ @if
        (formControl['newPassword'].hasError('upperCase') ||
        formControl['newPassword'].hasError('lowerCase') ||
        formControl['newPassword'].hasError('specialCharacter') ||
        formControl['newPassword'].hasError('number') ||
        formControl['newPassword'].hasError('length')) {
        <div class="error-block">
          <div class="error-item">
            <a class="check-icon">
              <img
                [src]="!formControl['newPassword'].errors?.['upperCase']? './assets/images/verify-account.svg' : './assets/images/not-verify-account.svg'"
                alt=""
              />
            </a>
            <div [@fadeAnimation]>
              <p
                [class.text-valid]="!formControl['newPassword'].errors?.['upperCase']"
              >
                Please enter at least one capital letter
              </p>
            </div>
          </div>
          <div class="error-item">
            <a class="check-icon">
              <img
                [src]="!formControl['newPassword'].errors?.['lowerCase']? './assets/images/verify-account.svg' : './assets/images/not-verify-account.svg'"
                alt=""
              />
            </a>
            <div [@fadeAnimation]>
              <p
                [class.text-valid]="!formControl['newPassword'].errors?.['lowerCase']"
              >
                Please enter at least one lower case letter
              </p>
            </div>
          </div>
          <div class="error-item">
            <a class="check-icon">
              <img
                [src]="!formControl['newPassword'].errors?.['specialCharacter']? './assets/images/verify-account.svg' : './assets/images/not-verify-account.svg'"
                alt=""
              />
            </a>
            <div [@fadeAnimation]>
              <p
                [class.text-valid]="!formControl['newPassword'].errors?.['specialCharacter']"
              >
                Please enter at least one special character
              </p>
            </div>
          </div>
          <div class="error-item">
            <a class="check-icon">
              <img
                [src]="!formControl['newPassword'].errors?.['number']? './assets/images/verify-account.svg' : './assets/images/not-verify-account.svg'"
                alt=""
              />
            </a>
            <div [@fadeAnimation]>
              <p
                [class.text-valid]="!formControl['newPassword'].errors?.['number']"
              >
                Please enter at least one number
              </p>
            </div>
          </div>
          <div class="error-item">
            <a class="check-icon">
              <img
                [src]="!formControl['newPassword'].errors?.['length']? './assets/images/verify-account.svg' : './assets/images/not-verify-account.svg'"
                alt=""
              />
            </a>
            <div [@fadeAnimation]>
              <p
                [class.text-valid]="!formControl['newPassword'].errors?.['length']"
              >
                Password should be of 8 to 20 character
              </p>
            </div>
          </div>
        </div>
        }}
      </div>
      <div class="form-group">
        <label>Confirm Password<sup>*</sup></label>
        <div
          class="formcontrol-wrapper"
          [ngClass]="{
            'invalid-control': hasFormControlError('confirmPassword')
          }"
        >
          <input
            [type]="showTypeConfirm() ? 'text' : 'password'"
            autocomplete="off"
            class="formcontrol"
            placeholder="Enter Confirm Password"
            formControlName="confirmPassword"
          />
          <a class="icon-block" (click)="showIconType('confirm')">
            @if(showTypeConfirm()) {
            <svg class="icon-open">
              <use xlink:href="./assets/scss/icons.svg#icon-eye-open"></use>
            </svg>
            } @else {
            <svg class="icon-close">
              <use xlink:href="./assets/scss/icons.svg#icon-eye-close"></use>
            </svg>
            }
          </a>
        </div>
        @if(hasFormControlError('confirmPassword')){
        @if(formControl['confirmPassword'].hasError('required')) {
        <div [@fadeAnimation] class="error-message">
          <p>Please enter confirm password</p>
        </div>
        } @if(!formControl['confirmPassword'].hasError('required') &&
        formControl['confirmPassword'].hasError('passwordMismatch')){
        <div [@fadeAnimation] class="error-message">
          <p>New passwords and confirm password must match.</p>
        </div>
        } }
      </div>
      <div class="custom-form-buttons-block">
        <button type="button" class="btn btn-primary-outline">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </section>
</main>
