@import "partials";

.global-filter ::ng-deep {
  .filter-wrapper {
    @apply px-[52px];
    @apply h-[106px];
    @apply mb-0;
    @apply z-1;
  }
  .filter-rightside {
    @apply hidden;
  }
}

.content-container {
  @apply relative;
  @apply px-[52px] py-14;
  @apply min-h-[calc(100vh-194px)];
  @apply bg-white;
  &::after {
    @apply empty-content;
    @apply w-[314px];
    @apply h-[402px];
    @apply absolute;
    @apply bottom-0;
    @apply right-0;
    @include background-image("globe-big.png", no-repeat, $size: cover);
  }
}
form {
  @apply relative;
  @apply z-1;
}
.form-group {
  @apply pb-7;
  @apply max-w-[428px];
  .formcontrol {
    @apply pt-[11px] pb-[13px] pl-5 pr-14;
  }
  a.icon-block {
    @apply cursor-pointer;
    @apply absolute;
    @apply right-5;
    @apply top-1/2;
    @apply -translate-y-1/2;
    svg {
      &.icon-open {
        @apply w-[25px];
        @apply h-[17px];
        @apply fill-gray;
      }
      &.icon-close {
        @apply w-[25px];
        @apply h-[22px];
        @apply fill-gray;
      }
    }
  }
}
.custom-form-buttons-block {
  @apply mt-16;
}

.error-block {
  @apply w-full;
  @apply absolute;
  @apply -top-[115px];
  @applt right-0;
  @apply left-0;
  @apply bg-white;
  @apply py-2 px-2.5;
  @apply rounded-md;
  @apply border border-solid border-primary;
  &:before {
    @apply empty-content;
    @apply block;
    @apply absolute;
    @apply left-1/2;
    @apply -bottom-5;
    @apply w-0;
    @apply w-0;
    transform: translateX(-50%) rotate(180deg);
    border-bottom: 10px solid #4ec4cc;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .error-item {
    @include flex-all(flex, center);
    @apply gap-x-2;
    @apply mb-1;
    p.text-valid {
      @apply text-[#01d468];
    }
    img {
      @apply w-4;
      @apply h-4;
    }
  }
}
