@import "partials";

.main-sidebar {
  @apply h-full;
  @apply absolute;
  @apply top-0;
  @apply overflow-y-hidden;
  @apply overflow-x-hidden;
  @include property("z-index", 998);
  @include property("min-height", 100%);
  box-shadow: $leftSidebar;
  @include transition;
}
.sidebar-light {
  @apply bg-white;
}
.sidebar-fixed {
  @apply fixed;
  @apply top-0;
  @apply left-0;
}
.sidebar-expanded {
  @apply w-[26rem];
}
.sidebar-header {
  @apply pr-3.5 pl-5;
  @apply whitespace-normal;
  @apply bg-black;
  @apply relative;
  @apply h-[58px];
  @apply mt-0 mb-0;
  @include flex-all(flex, center, space-between);
}
.sidebar-brand {
  @apply w-[14rem];
  @include transition;
  img {
    @apply w-full;
    @apply h-auto;
    @apply object-cover;
  }
}
.main-sidebar .sidebar-body {
  @apply pt-5;
  @apply bg-transparent;
  @apply h-[calc(100%-58px)];
  @apply relative;
  background-image: url(../../../../../assets/images/left-sidebar-globe.png);
  background-position: 100% 92%;
  @apply bg-no-repeat;
}
.sidebar-menu {
  @apply relative;
  @apply overflow-y-auto;
  @apply overflow-x-hidden;
  @apply h-[calc(100vh-144px)];
  @apply pb-1 px-[13px];
  @include transition;
  &::-webkit-scrollbar {
    @apply w-[3px];
  }
  &::-webkit-scrollbar-track {
    @apply rounded-xl;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-black-100;
    @apply rounded-xl;
  }
}
.sidebar-nav {
  @apply mb-0;
  @apply pl-0;
  @apply flex;
  @apply flex-wrap;
  @apply flex-col;
  @apply relative;
  @apply whitespace-nowrap;
}
.nav-list {
  @apply mb-2;
  @apply relative;
  @apply rounded-[7px];
}
.nav-list > .nav-list-item {
  @apply relative;
  @apply outline-none;
  @apply cursor-pointer;
  @apply whitespace-nowrap;
  @include flex-all(flex, center);
  @include transition;
}
.nav-list-item {
  @apply block;
  @include rounded(10);
  @apply text-white;
  @apply bg-[#FAFAFA];
  @apply font-primary;
  @apply text-md;
  @apply font-medium;
  @apply leading-none;
  @apply pt-2.5 pb-3 pl-[11px] pr-3.5;
  @include transition;
}
.nav-list-item p {
  @apply m-0;
  @apply pt-0.5;
  @apply w-[calc(100%-44px)];
  @apply inline;
  @apply capitalize;
  @apply text-md;
  @apply font-primary;
  @apply font-normal;
  @apply text-black;
  @apply whitespace-nowrap;
  @include flex-all(flex, center);
  @include transition;
}
.nav-list-item {
  &:hover {
    @apply bg-primary;
    svg,
    svg.toggle-icon,
    p {
      @apply fill-white;
      @apply text-white;
    }
  }
}
// .nav-list.active > .nav-list-item {
//   @apply bg-primary #{!important};
// }
.nav-list.active {
  .nav-list-item {
    @apply bg-primary;
    svg,
    svg.toggle-icon,
    p {
      @apply fill-white;
      @apply text-white;
    }
  }
}
.nav-list.submenu-expanded {
  @apply bg-primary;
}
.nav-list-item,
.submenu-item {
  svg {
    @apply mr-4;
    @apply w-5;
    @apply h-5;
    @apply fill-black;
    @include transition;
    &.toggle-icon {
      @apply w-2;
      @apply h-2.5;
      @apply mr-0;
      @apply fill-black;
    }
  }
}
.nav-list.submenu-expanded svg.toggle-icon {
  @apply -rotate-90;
}
.nav-list.dropdown-open.active {
  .nav-list-item {
    @apply bg-primary;
    p {
      @apply text-white;
    }
    svg {
      @apply fill-white;
    }
  }
  .nav-list-item-single {
    @apply mb-0;
  }
}

/* Sub Menu */
.submenu-treeview {
  @apply bg-transparent;
  @apply mb-0 ml-8;
  @apply pr-2;
  @include transition;
  @apply relative;
  .submenu-list {
    .submenu-item {
      @apply mb-1;
      @apply py-2 pr-3.5 pl-3;
      @apply flex items-center;
      @apply relative;
      @apply cursor-pointer;
      p {
        @apply text-white;
        @apply w-[calc(100%-8px)];
        @apply font-primary;
        @apply text-md;
        @apply font-normal;
        @apply leading-none;
        @apply mb-0;
        @include transition;
      }
    }
    &:last-child {
      .submenu-item {
        @apply mb-4;
      }
    }
  }
}
.submenu-treeview .submenu-list .submenu-item:hover p {
  @apply text-black;
}
.submenu-treeview .submenu-list:hover .submenu-item,
.submenu-treeview .submenu-list.active .submenu-item {
  @include rounded(10);
  @apply bg-white;
  p {
    @apply text-black;
  }
}
// sidebar footer
.sidebar-footer {
  @apply relative;
  @apply cursor-pointer;
  @apply z-[2];
  @apply bg-white;
  @apply h-[50px];
  @apply py-1 pl-2 pr-3.5;
  @apply mt-4;
  @include flex-all(flex, center, space-between);
  @apply border-t border-[#F0F0F0];
  box-shadow: $leftSidebarFooter;
  .sidebar-footer-left-content {
    @include flex-all(flex, center);
    @apply gap-x-2.5;
    @apply w-[calc(100%-32px)];
    .sidebar-footer-user-image {
      @apply w-[38px];
      @apply h-[38px];
      @include rounded(5);
      @apply overflow-hidden;
    }
    > span {
      @apply text-md;
      @apply leading-[18px];
      @apply font-normal;
      @apply text-black;
      @apply font-primary;
      @apply inline-block;
      @apply w-[158px];
      @include truncate(2);
    }
  }
  .footer-right-icon {
    @apply w-5;
    @apply h-[18px];
    @apply bg-black;
    @include rounded(2);
    @include flex-all(flex, center, center);
    @include transition;
    .icon {
      @apply fill-white;
      @apply h-3;
      @apply w-[5px];
      @include transition;
    }
    &.subMenuActive {
      .icon {
        @apply -rotate-90;
      }
    }
    &:hover {
      @apply bg-primary;
    }
  }
  .sidebar-footer-submenu-wrap {
    @apply absolute;
    @apply top-[-110px];
    @apply left-0;
    @apply w-full;
    @apply bg-white;
    box-shadow: $leftSidebarFooter;
    .sidebar-footer-submenu-list {
      @apply px-[18px];
      @apply py-2;
      &:not(:last-child) {
        @apply border-b border-[#f8f8f8];
      }
      &:nth-child(2) {
        a .sub-menu-icon {
          @apply h-3.5;
        }
      }
      a {
        @include flex-all(flex, center);
        .sub-menu-icon {
          @apply w-3;
          @apply h-3;
          @apply mr-2.5;
        }
        p {
          @apply text-md;
          @apply font-normal;
          @apply font-primary;
          @include transition;
        }
        &:hover {
          p {
            @apply font-semibold;
          }
        }
      }
    }
    &.footer-evalution {
      @apply -top-[147px];
    }
  }
}
.submenu-list.dropdown-open {
  .submenu-item p {
    @apply text-primary;
  }
}

.overlay-block {
  @apply fixed;
  @apply ml-[54px];
  @apply hidden;
  @apply bg-[#141414];
  @apply border border-solid;
  @include property("border-color", rgba(183, 163, 137, 0.28));
  @apply pt-5 pb-4 pl-[22px] pr-9;
  @apply rounded-[7px];
  @apply -mt-[5.2rem];
  &:before {
    @apply empty-content;
    @apply absolute;
    @apply top-4;
    @apply -left-4;
    // @include background-image("overlay-menu-arrow.svg", no-repeat);
    @apply w-4;
    @apply h-[22px];
  }
  h4 {
    @apply text-label;
    @apply leading-none;
    @apply font-medium;
    @apply text-white;
    @apply font-primary;
    @apply uppercase;
    @apply mb-4;
  }
  ul.overlay-parent-menu {
    li {
      @apply mb-2.5;
      @apply pl-3;
      @apply relative;
      &:before {
        @apply empty-content;
        @apply absolute;
        @apply left-0;
        @apply top-[9px];
        @apply w-1;
        @apply h-[4px];
        @apply rounded-full;
        @apply bg-white;
      }
      a {
        @apply text-white;
        @apply text-md;
        @apply leading-none;
        @apply font-normal;
        @apply font-primary;
        @apply cursor-pointer;
        @include transition;
        &:hover {
          @apply text-primary;
        }
      }
      &:hover {
        &:before {
          @apply bg-primary;
        }
      }
    }
  }
}
