<div class="sidebar-content">
  <div class="sidebar-action-buttons">
    <a class="sidebar-close" (click)="onCloseSidebar($event)">
      <svg class="icon-sidebar-cross">
        <use xlink:href="./assets/scss/icons.svg#icon-sidebar-cross"></use>
      </svg>
    </a>
  </div>
  <div class="sidebar-content-full-block">
    <header class="sidebar-content-top">
      <article class="sidebar-content-top-left">
        <h4>{{ pageType() === "edit" ? "Edit" : "Add" }} Department</h4>
      </article>
    </header>
    <div class="sidebar-content-bot">
      <div class="sidebar-body-wrapper !bg-transparent">
        <div class="sidebar-tabs-area">
          <department-add-edit
            [pageType]="pageType()"
            [selectedDepartment]="selectedDepartment()"
            (closeSidebar)="onCloseSidebar($event)"
          ></department-add-edit>
        </div>
      </div>
    </div>
  </div>
</div>
