<div class="auth-formbox">
  <h1>Forgot Password</h1>
  <h6>
    Enter your email address and we'll send you an OTP <br />to reset your
    password
  </h6>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()">
    <div class="auth-form-group">
      <div
        class="auth-formcontrol-wrapper"
        [ngClass]="{ 'auth-invalid-control': hasFormControlError('email') }"
      >
        <input
          type="email"
          class="auth-formcontrol"
          placeholder="Email"
          autocomplete="off"
          formControlName="email"
        />
        <a>
          <svg class="icon">
            <use xlink:href="./assets/scss/icons.svg#icon-envelope"></use>
          </svg>
        </a>
      </div>
      @if(hasFormControlError('email')) {
      @if(formControl()['email'].hasError('required')) {
      <div [@fadeAnimation] class="auth-error-message">
        <p>Please enter your email</p>
      </div>
      } @if(formControl()['email'].hasError('pattern')) {
      <div [@fadeAnimation] class="auth-error-message">
        <p>Please enter a valid email</p>
      </div>
      } }
    </div>
    <button type="submit" class="auth-btn">Reset Password</button>
    <p class="para-account">Back to <span routerLink="/">Sign In</span></p>
  </form>
</div>
