<div class="auth-formbox">
  @if(pageType === 1){
  <h1>Reset Password</h1>
  <h6>Reset your credentials to access your account.</h6>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
    <div class="auth-form-group">
      <div
        class="auth-formcontrol-wrapper"
        [class.auth-invalid-control]="hasFormControlError('new_password')"
      >
        <input
          [type]="showTypePassword() ? 'text' : 'password'"
          class="auth-formcontrol"
          placeholder="Password"
          autocomplete="off"
          formControlName="new_password"
        />
        <a class="icon-block" (click)="showIconType(0)">
          @if(showTypePassword()) {
          <svg>
            <use xlink:href="./assets/scss/icons.svg#icon-eye-open"></use>
          </svg>
          } @else {
          <svg class="icon-close">
            <use xlink:href="./assets/scss/icons.svg#icon-eye-close"></use>
          </svg>
          }
        </a>
      </div>
      @if(hasFormControlError('new_password')) {
      @if(formControl()['new_password'].hasError('required')) {
      <div [@fadeAnimation] class="auth-error-message">
        <p>Please enter your password</p>
      </div>
      } @if(formControl()['new_password'].hasError('minlength')) {
      <div [@fadeAnimation] class="auth-error-message">
        <p>Password minimum 6 characters</p>
      </div>
      } }
    </div>

    <div class="auth-form-group">
      <div
        class="auth-formcontrol-wrapper"
        [class.auth-invalid-control]="hasFormControlError('con_password')"
      >
        <input
          [type]="showTypeConfirmPassword() ? 'text' : 'password'"
          class="auth-formcontrol"
          placeholder="Confirm Password"
          autocomplete="off"
          formControlName="con_password"
        />
        <a class="icon-block" (click)="showIconType(1)">
          @if(showTypeConfirmPassword()) {
          <svg>
            <use xlink:href="./assets/scss/icons.svg#icon-eye-open"></use>
          </svg>
          } @else {
          <svg class="icon-close">
            <use xlink:href="./assets/scss/icons.svg#icon-eye-close"></use>
          </svg>
          }
        </a>
      </div>
      @if(hasFormControlError('con_password')) {
      @if(formControl()['con_password'].hasError('required')) {
      <div [@fadeAnimation] class="auth-error-message">
        <p>Please enter your confirm password</p>
      </div>
      } @if(formControl()['con_password'].hasError('minlength')) {
      <div [@fadeAnimation] class="auth-error-message">
        <p>Password minimum 6 characters</p>
      </div>
      } @if(formControl()['con_password'].hasError('passwordMismatch')) {
      <div [@fadeAnimation] class="auth-error-message">
        <p>Passwords Must Match</p>
      </div>
      } }
    </div>
    <button type="submit" class="auth-btn">Reset</button>
    <p class="para-account">Back to <span routerLink="/">Sign In</span></p>
  </form>
  } @else if(pageType === 2) {
  <div class="success-wrapper">
    <img
      src="./assets/images/success-tick-icon.svg"
      width="40"
      height="40"
      alt=""
    />
    <h4>Congratulations!</h4>
    <p>Your password has been <span>reset successfully.</span></p>
    <div class="auth-form-submit success-btn">
      <button [routerLink]="['/']" class="auth-btn">Sign In</button>
    </div>
  </div>
  }
</div>
